@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/dm-sans-v15-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/dm-sans-v15-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/dm-sans-v15-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/dm-sans-v15-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/dm-sans-v15-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/dm-sans-v15-latin-900.woff2') format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans';

    position: relative;
}
a,li{
    list-style: none;
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

}
.haeder__list{
    display: flex;
    gap: 30px;
}
.header__logobox{
    display: flex;
    align-items: center;
    gap: 11px;
}


.header__buttonbox>button{
    padding: 13px 31px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
}
.header__item{
    position: relative;
}
.header__item::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width 1s ease;
}
.header__item:hover::after{
    content: "";
    width: 100%;
}



/* hero page */
.hero{
    width: 100%;
    background: #1E3C72;
    height: 100vh;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}
.bg_screens{
    user-select: contain;
}
.position1{
    position:absolute;
    top: 0px;
    left: 0px;
}

.position2{
    position:absolute;
    bottom: -95px;
    left: 0px;
}

.position3{
    position:absolute;
    top: 0px;
    left: 385px;
}
.position4{
    position:absolute;
    bottom: 0px;
    left: 730px;
}
.pattern{
    position: absolute;
    top: 20%;
    left: 1100px;
    z-index: 1;
}
.position5{
    position:absolute;
    top: -160px;
    right: -140px;
    transform: rotate(360deg);
}
.position6{
    position: absolute;
    top: 200px;
    right: -120px;
    transform: rotate(180deg);
}

.phone__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 30px;
}

.phone{
    position: absolute;
    top: 50px;
    left: 750px;
    z-index: 2;
}

.experience{
    margin-top: 30px;
    max-width: 500px;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #fff;
    letter-spacing: -2px;
    word-break: break-word;
    padding: 0px 60px 0px;
}

.paraghrap{
    margin-top: 30px;
    max-width: 450px;
    font-weight: 400;
    font-size: 12px;
    line-height: 42px;
    color: #FFFFFF;
    padding: 0px 60px 0px;
}

.phone__section__button{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.phone__section__button>.start__button{
    position: absolute;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background: #fff;
    color: black;
    padding: 15px 30px;
    top: 0px;
    left: 60px;
}

.phone__section__button>.get__button{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.16px;
    color: #0F2137;
}

.video__content{
    position: absolute;
    top: 40px;
    left: 220px;
}

.sponsors__content{
    margin-top: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 80px 0px;
}

.sponsors{
    font-weight: 400;
    font-size: 10px;
    line-height: 32px;
    color: #c2c2c2;
}

.features__content{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__textbox{
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    color: #244886;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.quality__textbox{
    font-weight: 700;
    font-size: 34px;
    line-height: 55px;
    color: #0F2137;
    letter-spacing: -1.5px;
}

.vector__contentbox{
    margin-top: 78px;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.vector__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.vector__textbox{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #0F2137;
}

.vector__textbox__p{
    text-align: center;
    max-width: 200px;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #343D48;
}

.the__father__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.jackpots__content{
    position: relative;
    margin-top: 300px;
}

.ugol{
    position: absolute;
    top: 0px;
    left: -200px;
    z-index: 1;
}

.smart__phone{
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 2;
}

.anytime__section{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    padding: 0px 250px 0px;
}

.core{
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #244886;
}

.smart__text{
    max-width: 440px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1.5px;
    color: #0F2137;
}

.crown__content{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.crown__imgbox{
    display: flex;
    align-items: center;
    gap: 20px;
}


.crown__bbox{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #0F2137;
    padding: 0px 80px 0px;
}

.crown__pbox{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #343D48;
}

.crown__content__second{
    width: 500px;
    height: 160px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    box-shadow: 2px 2px 2px #45589D12;
}